body {
 background-color: black;
}

a {
    font-style: normal;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    background-color: rgba(53, 49, 52, 0);
    color: #0c52df;
    padding-left: .5ch;
    padding-right: .5ch;
    float: right;
    margin-right: 20px;
    border: none;
    width: auto;
    height: 100%;
}

a:hover {
    background-color: #0c52df;
    font-style: normal;
    color: rgb(19, 18, 18);
}

.main {
    background-color: rgb(19, 18, 18);
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    width: 100%;
    height: auto;
    margin: auto;
    position: absolute;
}

.footer {
    background-color: rgb(19, 18, 18);
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    width: 100%;
    position:relative;
}
.footerTitle {
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    font-size: 2.3vw;
}

.footerContents {
    color: rgb(116, 116, 116);
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    font-size: 2.3vw;
}

hr {
    color: black;
    border-color: rgb(0, 0, 0);
    background-color: black;
    
}

.footerHR {
    color: black;
    border-color: rgb(0, 0, 0);
    background-color: black;
    height: 20px;
}

.name {
    /* background-color: #004ff8; */
    font-size: 7vw;
    position: relative;
    justify-content: left;
    padding-left: .5ch;
    bottom: 5vw;
}

.age {
    padding-left: 1ch;
    position: relative;
    justify-content: left;
    text-align: left;
    /* display: flex; */
    font-size: 3vw;
    margin-top: 100px;
    right: 1vw;
    top: 7vw;
}

.header {
    margin: auto;
    position: relative;
    background-color: rgb(19, 18, 18);
    width: 100%;
    height: 30px;
}

.leftContainer {
    
}

.cole-galeDesc {
    text-align: left;
    display: flex;
    position: relative;
    text-decoration: solid;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    padding-left: 2ch;
    font-size: 2.5vw;
    bottom: 11vw;
}

.socials {
    text-align: left;
    display: flex;
     font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    position: relative;
    padding-left: 1.5ch;
    font-size: 3vw;
    bottom: 11vw;
}

.logo {
    padding: 0ch 0ch 0ch 2ch;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    height: 100%;
    text-align: left;
    /* margin-top: 2px; */
    position: relative;
}

.headerButton {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    background-color: rgba(53, 49, 52, 0);
    color: white;
    float: right;
    margin-right: 20px;
    border: none;
    width: auto;
    height: 100%;
    /* position: absolute; */
}

.headerButton:hover {
    background-color: white;
    color: black;
}

.headerButton:active {
    background-color: rgba(255, 255, 255, 0.733);
}
