body {
 background-color: black;
}

.main {
    background-color: rgb(19, 18, 18);
    color: white;
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    height: 90%;
    margin: auto;
    position: absolute;
    top: 45px;
}

.name {
    font-size: 10vw;
    margin-bottom: auto;
    position: absolute;
    padding-left: 1ch;
}
.age {
    font-size: 3vw;
    margin-bottom: auto;
}

.header {
    margin: auto;
    position: absolute;
    background-color: rgb(19, 18, 18);
    width: 100%;
    height: 25px;
    
}

.leftContainer {
    
}

.logo {
    padding: 0ch 0ch 0ch 2ch;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    text-align: left;
    margin-top: 2px;
}

.headerButton {
    font-family: 'IBM Plex Mono', monospace;
    background-color: rgba(53, 49, 52, 0);
    color: white;
    float: right;
    margin-right: 20px;
    border: none;
    width: auto;
    height: 100%;
}

.headerButton:hover {
    background-color: white;
    color: black;
}

.headerButton:active {
    background-color: rgba(255, 255, 255, 0.733);
}
